@page
@model ratemyprofessors.Pages.Admin.facProf.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfFac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfFac.Professor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfFac.Professor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfFac.Faculty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfFac.Faculty.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProfFac.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
