@page
@model ratemyprofessors.Pages.Admin.Messages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContactUs.Text)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactUs.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactUs.MailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactUs.MailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ContactUs.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
