@page
@model ratemyprofessors.Pages.Admin.Accounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br />
<h3>Accounts</h3>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].Emain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].RegistarationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Account[0].ISAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Account) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistarationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISAdmin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
