@page
@model ratemyprofessors.Pages.Admin.courseProf.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfCourse.Professor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfCourse.Professor.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfCourse.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfCourse.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfCourse.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProfCourse.Course.AliasNames)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProfCourse.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
